:root {
  /* BG TOKENS */
  --bg-primary: #02BF6F;
  --bg-secondary: #FFF1DC;
  --bg-tertriary: #DDC3E5;
  --bg-header: #EEB7CA;
  --bg-footer: #018F53;
  --bg-accent: #7B6BD6;
  --bg-accent-secondary: #FFC700;
  /* TEXT TOKENS */
  --text-primary: #000;
  --text-secondary: #FFF;
  --text-tertriary: #02BF6F;
  --text-accent: #FF00D6;
  /* BUTTON TOKENS */
  --button-primary: #EEB7CA;
  --buton-secondary: #DDC3E5;
  --button-hover: #7B6BD6;
}

body {
  background-color: var(--bg-primary);
  margin: 0px;
}

/* NAVBAR */
nav {
  background-color: var(--bg-header);
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 48px;
  margin-bottom: 0px; 
}

nav img {
  padding: 0px 16px 16px 16px;
}

/* NAVBAR LINKS */
nav div a {
  background-color: var(--button-primary);
  border-radius: 24px;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  border: 1.5px solid var(--text-primary);
  padding: 8px;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--text-secondary);
  margin: 8px;
}

nav div a:hover {
  background-color: var(--button-hover);
}

/* ---- FIRST PAGE COLLAGE ----- */
.collage {
  width: auto;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.collage img {
  height: 55em;
  width: auto;
  position: relative;
}

.collage .img_radius {
  height: 25em;
  border-radius: 5%;
  position: relative;
  z-index: 1;
  margin-left: -5em;
  margin-top: 8em;
}

.collage .img_circle {
  height: 25em;
  position: relative;
  margin-top: 22em;
  z-index: 3;
}

.collage .info {
  background-color: var(--bg-secondary);
  height: relative;
  padding: 16px;
  width: 50em;
  display: flex;
  flex-direction: column;
  margin-top: 40em;
  border-radius: 24px;
  z-index: 1;
  position: absolute;
  margin-left: 20em;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.626);
}

.info h1 {
  font-size: 36px;
  font-family: Arial;
  padding: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--text-tertriary);
}

.info p {
  font-family: "Courier New";
  color: var(--text-primary);
  margin: 4px;
}

footer {
  background-color: var(--bg-footer);
  display: flex;
  justify-content: space-evenly;
  color: var(--text-secondary);
  margin: 0px; 
  margin-top: 30px; 
}

footer div {
  display: flex;
  font-family: "Courier New";
  height: 15em;
  justify-content: center;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: bold;
}


/* MILKSHAKES.HTML */ 

.milkshake-page {
  background-color: var(--bg-accent-secondary);
}

#milkshakes-h1 {
  font-size: 36px;
  font-family: Arial;
  padding: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--text-tertriary);
  background-color: var(--bg-secondary);
  padding: 30px; 
  border-radius: 15px;
  text-align: center;
  margin: 40px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.626);
}

#wrapper {
  background-color: var(--bg-accent-secondary);
  margin: 0px; 
}

#milkshake-wrapper {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-accent-secondary);
}

.milkshake-infocard {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: relative;

}

.milkshake-infocard img {
  width: 368px; 
  height: 591px; 
  object-fit: cover;
  display: block;
}

.milkshake-infocard p {
  font-family: 'Courier New'; 
  text-align: center;
}


.bookmark-label {
  background-color: var(--bg-tertriary);
  font-family: Arial;
  border-radius: 24px;
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid var(--text-primary);
  padding: 8px;
  text-decoration: none;
  position: absolute;
  top: 30px;
  right: 30px; 
  color: var(--text-secondary); 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
}

.vegan-label {
  background-color: var(--bg-tertriary);
  font-family: Arial;
  border-radius: 24px;
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid var(--text-primary);
  padding: 8px;
  text-decoration: none;
  position: absolute;
  top: 90px;
  right: 30px; 
  color: var(--text-secondary); 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
}

.milkshake-h2 {
  background-color: var(--bg-primary);
  border-radius: 24px;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  border: 1.5px solid var(--text-primary);
  padding: 8px;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--text-secondary);
  margin: 8px;
}

/* ABOUTUS.HTML ------------------------------------ */ 

.about-us-page {
  background-color: var(--bg-accent);
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; 
}

#background-milkshake {
  border-radius: 100%;
  display: block;
}

#about-us-h1 {
  font-size: 32px; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--bg-primary);
  font-family: "Arial"; 
}

#about-us-infocard {
  position: absolute;
  bottom: 100px;
  font-family: "Courier New"; 
  background-color: var(--bg-tertriary);
  height: relative;
  padding: 16px;
  width: 50em;
  display: flex;
  flex-direction: column;
  margin-top: 40em;
  border-radius: 24px;
  z-index: 1;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.626);

}

/* STORE LOCATOR TIMELINE */ 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

/* BODY STYLES FOR STORE.HTML */ 
.store-page {
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
  background-color: var(--bg-tertriary);
  background-image: url(Images/Frame\ for\ pictures.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 

}

.store-page h1 {
  font-size: 48px; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-primary);
  color: var(--bg-header);
  font-family: "Arial"; 
  text-align: center;
  margin-top: 30px; 
}

.timeline ul {
  background-color: none; 
  padding: 50px 0;
  font-family: "Courier new";
  color: var(--text-primary); 
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  border-radius: 24px; 
  padding: 15px;
  background: var(--bg-secondary); 
  box-shadow: 5px 5px rgba(0, 0, 0, 0.626);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
}

/* STORE INFO TEXT */ 
.store-page span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--bg-accent);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--bg-secondary) transparent transparent;
  }

}

@media screen and (max-width: 300px){
  .img_circle {
    margin-top: 30em;
  }
}
